{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<h2 id="title">Welcome to Ember</h2>

{{!-- {{link-to 'Go to Index' 'index'}} --}}
{{outlet}}